


.footer_box{
    margin-top: 5rem;

    width: 100%;
    height: 500px;
    background-color: #1E2738;

}

box1{
    width: 100%;
    height: 100%;
    background-color: red;
}


#foot_logo{
    width: 500px;
    height: 300px;
}

.foot-cols{
    
}

h4{
    color: white;
}


.iconig{
    color: blue;
    font-size: 2rem;
}

#foot-h2{
    color: white;
    margin-bottom: 13px;
}