.my-btn {
  padding: 14px 28px;
  width: 30%;
  font-size: 18px;
  border-radius: 14px;
  transition: all 0.3s ease;
  margin: 0 auto;
}

.my-btn:hover {
  background-color: #1e40af;
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
