.about-hero {
  padding-top: 10rem;
}


.hero-p{

  margin-top: 5rem;
  font-size: 1.3rem;
}

.hr-style{
  margin-top: 5rem;
}

.lottie_box{
  height: 100%;
  width: 100%;
}

.people_h1{
  margin-top: 10rem;
  color: white;
  border-radius: 2rem;
  background-color: rgb(73, 73, 73);
  padding: 3rem;
}

.people_image{
  height: 17rem;
  width: 17rem;
  border-radius: 2rem;
  background-size: cover;
  background-position: center;
}

.left_people_col{
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
